.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    max-height: 100px;
    max-width: 100px;
}

td, th {
    vertical-align: middle ! important;
    text-align: center ! important;
}

td:first-of-type {
    height: 200px ! important;
    width: 250px ! important;
}
